body {
    margin: 0;
    padding: 0;
    background-image: url(cd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50px;
    margin-top: 20px;
}

.wrap {
    width: 400px;
    margin-top: 100px;
    margin-left: 500px;
    height: auto;
    background: transparent;
    padding: 15px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 20px;
}

input[type=button] {
    width: 89px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
}

#del {
    width: 73%;
}